.flex_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home_blogContainer {
  width: 27%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid blueviolet;
  background-color: rgb(231, 231, 240);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s;
  &:hover {
    transform: translateY(-6px);
  }

  .btn_delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      cursor: pointer;
      padding: 7px 17px;
      background: rgba(235, 25, 110, 1);
      color: white;
      border-radius: 5px;
      border: 0;
      outline: 0;
      font-size: 14px;
      transition: all 0.5s;
      &:hover {
        background-color: rgb(133, 12, 36);
      }
    }
  }
  img {
    user-select: none;
    object-fit: contain;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    border-radius: 5px;
    &:hover {
      color: black;
      background-color: whitesmoke;
      padding: 10px;
    }
  }
}

// input header
.input_header {
  background: #0cd280;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-radius: 50px;
  input {
    width: 50%;
    padding: 10px;
    border-radius: 30px;
    outline: 0;
    border: 0;
    user-select: none;
    border: 1.6px solid green;
  }
  button {
    padding: 8px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .flex_container {
    flex-direction: column;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    .home_blogContainer {
      margin: auto;
      position: relative;
      top: 6rem;
      width: 95%;
    }
  }

  .input_header {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    input {
      width: 65%;
    }
    button {
      padding: 8px 20px;
    }
  }
}
